{% extends 'base.html' %}
{% load cms_tags static sekizai_tags %}



{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'css/page_type_two.css' %}">
<div class="mainContainer">
	<div class="topHeaderNav shadow">
        {% include 'nav.html' %}
    </div>
    <div class="mainContent">
        <div class="mainContentHeader">

            <div class="row" style="height: 70% !important;">
                <div class="col-sm-12 col-lg-6">
                    {% placeholder "header-left" %}
                </div>
                <div class="col-sm-12 col-lg-6 d-flex justify-content-center align-items-center">
                    {% include 'contact_form.html' %}
                </div>
            </div>



        </div>
        <div class="container mainContentBody">
            {% placeholder "main-content-body" %}
        </div>
	</div>
</div>

{% endblock %}
