{% extends 'protected_base.html' %}

{% block content %}
        <br>
        <br>
        <button class="btn btn-primary ml-2" id="new_newsletter_btn">+ New Newsletter</button>
        <br>
        <br>
        <div id="new_newsletter_form" class="col-6 border-success">
          <form action="" method="post" class="mt-6">
            <h4>New Newsletter</h4>
            {% csrf_token %}
            <input required type="text" placeholder="Enter Newsletter Name..." class="form-control" name="newsletter_name" id="">
            <br>
            <button class="btn btn-small btn-primary" type="submit">Save</button>
            <span class="btn btn-info" onclick="location.reload()">Cancel</span>
          </form>
          <br>
          <br>
        </div>

        <h1 class="h2">Newsletters List</h1>
        <hr>
        <div class="row row-cols-1 row-cols-md-3">
            {% for newsletter in newsletters %}
            <div class="col mb-4">
                <div class="card h-100 shadow rounded-lg">
                  <img src="https://www.interregeurope.eu/fileadmin/user_upload/tx_tevnewsevents/news/image_1554804907.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">{{newsletter.newsletter_name}}</h5>
                    <p class="card-text">{{newsletter.created}}</p>
                    <div class="d-flex flex-row justify-content-center">
                        <a href="{{newsletter.id}}/edit" class="btn btn-primary d-flex align-items-center font-weight-bold shadow-lg m-1">

                        <span class="material-icons font-weight-bold">create</span></a>
                        <a href="{{newsletter.id}}/" class="btn btn-success d-flex align-items-center font-weight-bold shadow-lg m-1">
                          <span class="material-icons font-weight-bold">visibility</span></a>
                        <a href="{{newsletter.id}}/delete" class="btn btn-danger d-flex align-items-center font-weight-bold shadow-lg m-1">

                          <span class="material-icons font-weight-bold">delete</span></a>
                          
                          <a href="{{newsletter.id}}/send" class="btn btn-warning text-dark d-flex align-items-center font-weight-bold shadow-lg m-1">
        <span class="material-icons font-weight-bold">send</span></a>

                    </div>
                  </div>
                    {% if newsletter.is_sent %}

                  <div class="alert alert-danger">
                    Newsletter has been sent! Please avoid resending!
                  </div>
                          

                          {% endif %}
                </div>
              </div>
            {% endfor %}
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<script>
  $("#new_newsletter_form").hide()
  $("#new_newsletter_btn").click(()=>{
    $("#new_newsletter_form").show()
  $("#new_newsletter_btn").hide()

  })
</script>
{% endblock content %}