.mainContainer{
	display: flex;
	flex-direction: column;
}

.mainContent{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 100px;
}

.eventCard{
	padding: 30px;
	width: 70%;
	/*height: 250px;*/
	border: 1px solid #dddddd;
	background: #fcfcfc;
	box-shadow: 5px 5px 15px #dddddd;
	border-radius: 10px;
	margin: 10px 10px;
}

.topHeaderNav{
    background: linear-gradient(to right,#00F260,#0575E6);
    height: 10vh;
    padding: 0px 10px;
}
.topHeaderNav>header{
    /* background-color: #0000001e; */
    background-color: transparent;
    height: 10vh;
}