.topHeader{
    min-height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: teal;
    background: linear-gradient(#00000000,#00000000), url('/static/images/bg1.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.topHeaderNav{
    background-color: #0000001e;
    height: 10vh;
    /*padding: 0px 10px;*/
}

.topHeaderNav>header{
    background-color: #0000001e;
    background-color: transparent;
    height: 10vh;
}

.topHeaderContent{
    color: white;
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    min-height: 80vh;
    /* background-color: #00b0f0; */
}

.topHeaderContentLeft{
    width: 100vw;
    min-height: 30%;
    /* background-color: #800080; */
    display: flex;
    align-items: stretch;
    justify-content: center;
}



.topHeaderContentRight{
    width: 100vw;
    min-height: 60%;
    /* background-color: #004a9e; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    color: black;
    padding: 0px 0px 30px 0px;
}

@media screen and (min-width:800px){
    .topHeader{
        min-height: 90vh;

        background-size: cover;
        background-repeat: no-repeat;
    }
    .topHeaderContent{
        flex-direction: row;
    }
    .topHeaderContentLeft{
        width: 50vw;
        min-height: 100%;
        /* background-color: #800080; */
    }

    .topHeaderContentRight{
        width: 50vw;
        min-height: 100%;
        align-items: center;
        justify-content: center;
        padding: 0px;

        /* background-color: #004a9e; */
    }
}
