html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.container {
  max-width: 960px;
}

.eawaters_select_input{
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    border: 0.5px solid #ddd;
    outline: none;
    text-align: center;
    background-color: rgb(252, 252, 252);
    color: rgb(97, 97, 97);
    min-height: 45px;
    margin: 10px 10px 10px 0px;
    width: 300px;

}

.radio_select{
  border: 0.5px solid #eee;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  background: #fefefe;
  box-shadow: inset 0 0 1px rgba(0, 0, 0, .5);
}

label{
  font-size: 10px;
  font-weight: bold;
}

.eawaters_text_input{
    margin: 10px;
    padding: 10px;
    outline: none;
    text-align: center;
    border-radius: 5px;
    border: 0.5px solid #ddd;
    color: rgb(124, 124, 124);
    margin: 10px 10px 10px 0px;
    width: 300px;
}

option {
	overflow: hidden;
    width: 300px;
}
