#new_post_form{
    display:flex;
    flex-direction:column;
    width:100%;
}
.editor{
    display:flex;
    flex-direction:column;
    width:100%;
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.3);
  border-top: 6px solid #4a4a4a;
  border-radius: 3px;

}
.toolbar{
    display:flex;
    flex-wrap:wrap;
    width:100%;

}
.editor .toolbar {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
}
.editor_btn > img {
  width: 15px;
  height: 15px;
  margin:10px;
  cursor:pointer;
}
.has-submenu {
  position: relative;
  display: inline-block;
}

.submenu {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.has-submenu:hover .submenu {
  display: flex;
}

.editor .content-area {
  padding: 15px 12px;
  line-height: 1.5;

}
.editor .content-area .visuell-view {
  outline: none;
  min-height:20vh;
  background:red;
}
.editor .content-area .visuell-view p {
  margin: 12px 0;

}
.editor .content-area .html-view {
  outline: none;
  display: none;
  width: 100%;
  height: 200px;
  border: none;
  resize: none;
}