@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* font-family: 'Oswald', Times, serif; */
}

body {
  font-family: sans-serif;
  width: 100%;
  overflow-x: hidden;
  background: rgb(255, 255, 255);
}

nav {
  /* background: linear-gradient(to left,rgb(0, 0, 0),rgb(0, 0, 0)); */
  padding: 2px 10vw;
}

ul {
  list-style: none;
}

li > a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-weight: bold;
}
li > a:hover {
  text-decoration: none;
  color: #fcca0a;
}
.menu li {
  font-size: 12px;
  /* padding: 1px 5px; */
}

.menu li a {
  display: block;
}

.logo a {
  /* font-size: 20px; */
  /* height: 20PX; */
}

.logo a img{
  padding: 1px 0px;
}

.button {
  border-bottom: 1px #444 solid;
}

/* Mobile Menu */
.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 5px 0 0;
}

.toggle {
  order: 1;
}

.item.button {
  order: 2;
  /* display: none; */
}

.item {
  width: 100%;
  text-align: center;
  order: 3;
  display: none;
}

.item.active {
  display: block;
}

.toggle {
  cursor: pointer;
}

.bars {
  background: #999;
  display: inline-block;
  height: 3px;
  width: 25px;
  position: relative;
}

.bars::before,
.bars::after {
  background: #999;
  display: inline-block;
  height: 3px;
  width: 25px;
  position: absolute;
  content: "";
}
.title-1{
  font-size: 7vw;
}
.title-2{
  font-size: 5.2vw;
}

.bars::before {
  top: 10px;
}

.bars::after {
  top: -10px;
}
.eacosh_cutout{
  width:70%;
  height:100%
}

/* Tablet Menu */

@media all and (min-width: 468px) {
  .menu {
    justify-content: center;
  }
  .logo {
    flex: 1;
  }
  .item.button {
    width: auto;
    order: 1;
    display: block;
  }

  .toggle {
    order: 2;
  }
  .button {
    border: 0;
  }
  .button a {
    text-decoration: none;
    padding: 7px 15px;
    background: #fcca0a;
    color: black;
    border: 1px solid #222;
    border-radius: 50em;
  }

  .button a:hover {
    transition: all 0.25s;
    background: #00b050;
    border-color: #00b050;
    color: white;
    text-decoration: none;
  }
  .eacosh_cutout{
    width:35%;
    /* height:100%; */
    
  }
}

/* Desktop  */

@media all and (min-width: 768px) {
  .item {
    display: block;
    width: auto;
  }
  .toggle {
    display: none;
  }
  .logo {
    order: 0;
  }
  .item {
    order: 1;
  }
  .button {
    order: 2;
  }
  .menu li {
    padding: 1px 10px;
  }
  .menu li.button{
      padding-right: 0;
  }
  .title-1{
    font-size: 2.75vw;
}
.title-2{
    font-size: 2vw;
}
}

footer{
  width: 100%;
}