{% extends "base.html" %} 
{% load static %} 
{% block title %}
About
{% endblock %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/home.css' %}" />

<div
class="col-xs-12 col-sm-12 col-md-12 col-xl-12"
style="background:linear-gradient(#00000080,#00000040), url('{% static 'images/osh.webp' %}');background-size:100% 100%;min-height:30vh"
>
<div
  class="d-flex flex-column align-items-center justify-content-center text-white"
  style="height: 100%;width:100%;"

>
  <div class="title-1" >East Africa Conference on</div>
  <div class="title-2">
    <strong style="color: #000000;background-color: #fcca0a;">OCCUPATIONAL </strong> 
    
    <strong style="color: #fafafa;background-color: #05a100;">SAFETY</strong>
    & 
    <strong style="color: #fafafa;background-color: #0053a1;">HEALTH</strong>
  </div>
  
  <!-- <hr color="white" width="100%" />
  <div
    class="text-center text-white"
    style="font-family: 'Roboto', sans-serif;font-size: 1vw;"
  >
    Thursay 26<sup>th</sup> March 2020-Conference <br />
    Friday 27<sup>th</sup> March 2020-Excursion <br />
    NAIVASHA, KENYA
  </div>
  <hr color="white" width="100%" />
  <div
    style="font-family: 'Roboto',sans-serif;color: white;font-size: 1.5vw;"
  >
    Towards a vision of zero accident in the East Africa Extractives Industry
</div> -->
<br>
  {% comment %} <p id="timer"></p> {% endcomment %}
</div>
</div>

<div class="main-content">
    <div style="padding: 0;margin: 0;">
      <div class="container align-items-center">
        <br>
        <div>
          <h4 style="font-family: 'Roboto', sans-serif;font-weight: 700;text-align: center;">
            The 1<sup>st</sup> EAST AFRICA CONFERENCE ON OCCUPATIONAL SAFETY AND HEALTH
          </h4>
          <br>
          <h5 style="color: #00b0f0;text-align: center;">Theme</h5>
          <br>
          <h6 style="color: #00b0f0;font-weight: bold;text-align: center;">
          “Investing in Safety for a Sustainable Geothermal Industry”
          </h6>
          <hr>
          <!-- <h3 class="text-center">Our Pillars</h3>
          <div class="row align-items-center justify-content-center">
  
  
            <div style="display: flex;flex-direction: column;margin: 10px;">
              <h6 class="text-center" style="color: #00b0f0;">Policy</h6>
              <div
                style="display: flex;justify-content: center;flex-direction: column;align-self: center;align-self: center;background-image: url(./assets/images/polygray.svg);background-size: contain;background-repeat: no-repeat;width: 50px;height: 50px;">
                <i class="fa fa-handshake-o" style="font-size:20px;color:#00b050;text-align: center;"></i>
              </div>
              <div>
                <p class="text-wrap" style="width: 10rem;text-align: center;margin: 10px;">
                  Participate in policy
                  formualtion for the
                  water sector</p>
              </div>
  
            </div>
            <br>
            <div style="display: flex;flex-direction: column;margin: 10px;border-left: 1px solid #ccc;">
              <h6 style="color: #00b0f0;" class="text-center">Technology</h6>
  
              <div
                style="display: flex;justify-content: center;flex-direction: column;align-self: center;align-self: center;background-image: url(./assets/images/polygray.svg);background-size: contain;background-repeat: no-repeat;width: 50px;height: 50px;">
                <i class="fa fa-eye" style="font-size:20px;color:#00b050;text-align: center;"></i>
              </div>
              <div>
                <p class="text-wrap" style="width: 10rem;text-align: center;margin: 10px;">
                  Showcase your Innovations</p>
              </div>
  
            </div>
            <br>
            <div style="display: flex;flex-direction: column;margin: 10px; border-left: 1px solid #cccc;">
              <h6 style="color: #00b0f0;" class="text-center">Financing</h6>
  
              <div
                style="display: flex;justify-content: center;flex-direction: column;align-content: center;align-self: center;background-image: url(./assets/images/polygray.svg);background-size: contain;background-repeat: no-repeat;width: 50px;height: 50px;">
                <i class="fa fa-money" style="font-size:20px;color:#00b050;text-align: center;"></i>
              </div>
              <div>
                <p class="text-wrap" style="width: 15rem;text-align: center;margin: 10px;">Insights and Investment
                  Opportunities</p>
              </div>
  
            </div>
            <br>
          </div> -->
          <br>
          <hr>
          <blockquote class=" blockquote text-center">
            <p class="lead" style="font-size: .9rem">
            The East Africa Conference on Occupational Safety and Health (EACOSH) is an inaugural conference that aims to provide a platform for deliberations on performances, policies, industry best practices and much more related issues of Occupational Safety and Health by key stakeholders and the best brains towards a vision of zero accident in the East Africa Extractives Industry.
  </p>
            <footer class="blockquote-footer">eacosh.com</footer>
          </blockquote>
  
          <div style="display: flex;flex-direction: row;flex-wrap: wrap;justify-content: center;">
  
            <div class="stat">
              <span class="statmain">10,000Mwe</span><br>
              <span class="stattext">Kenya's total Geothermal potential</span>
            </div>
            <div class="stat">
              <span class="statmain">777 MWe</span><br>
              <span class="stattext">Current developed Geothermal Capacity</span>
            </div>
            <div class="stat">
              <span class="statmain">5530 Mwe</span><br>
              <span class="stattext">2030 production target </span>
            </div>
          </div>
        </div>
        <hr>
        {% comment %} <h4 class="text-center text-primary">Invited Guests and Speakers</h4>
        <div id="speakers" style="display: flex;flex-direction: row;flex-wrap: wrap;align-items: center;justify-content: center;">

        <div class="speaker">
          <h5 class="s_name">Eng. Abel Rotich</h5>
          <p class="s_title">Chairman, GAK</p>
          <!-- <p class="s_theme">Climate Change: Challenges facing Water and Sanitation Management</p> -->
        </div>
        
        
        <div class="speaker">
          <h5 class="s_name">Dr. Gathuru Mburu</h5>
          <p class="s_title">Managing Director, Kipya (Africa) Limited</p>
          <p class="s_theme">Occupational Safety & Health in the Geothermal Industry - The Bottom Line</p>
        </div>
        
        <div class="speaker">
          <h5 class="s_name">Mrs. Rebecca Miano</h5>
          <p class="s_title">Managing Director & Chief Executive Officer, KenGen</p>
          <!-- <p class="s_theme">Climate Change: Challenges facing Water and Sanitation Management</p> -->
        </div>
        
        <div class="speaker">
          <h5 class="s_name">Eng. Johnson P. Ole Nchoe</h5>
          <p class="s_title">Managing Director & Chief Executive Officer, GDC</p>
          <!-- <p class="s_theme">Climate Change: Challenges facing Water and Sanitation Management</p> -->
        </div>

        <div class="speaker">
          <h5 class="s_name">Dr. Musa Nyandusi</h5>
          <p class="s_title">Director, DOSHS</p>
          <!-- <p class="s_theme">Climate Change Adaptation and Resilience</p> -->
        </div>


        <div class="speaker">
          <h5 class="s_name">Hon. Simon K. Chelugui</h5>
          <p class="s_title">Cabinet Secretary, Ministry of Labour and Social Protection,</p>
          <p class="s_theme">Keynote Address</p>
        </div>

        <div class="speaker">
          <h5 class="s_name">Dr. Andrew Muruka</h5>
          <p class="s_title">Deputy Director, DOSHS</p>
          <p class="s_theme">Achieving excellence and sustainability in HSE for the Geothermal Industry</p>
        </div>

        <div class="speaker">
          <h5 class="s_name">Patrick Gikunju</h5>
          <p class="s_title">KenGen</p>
          <p class="s_theme">Achieving excellence and sustainability in HSE for the Geothermal Industry</p>
        </div>
        <div class="speaker">
          <h5 class="s_name">Elizabeth Mwangi Gachau</h5>
          <p class="s_title">KenGen</p>
          <p class="s_theme">Technology, Audits, HSE Committee Training in the Geothermal Sector</p>
        </div>

        <div class="speaker">
          <h5 class="s_name">Eng. Isaac Mwangi</h5>
          <p class="s_title">HSE East Africa</p>
          <p class="s_theme">Technology, Audits, HSE Committee Training in the Geothermal Sector</p>
        </div>

        <div class="speaker">
          <h5 class="s_name">Mr. Pius Masai</h5>
          <p class="s_title">Former Deputy Director Disaster Management</p>
          <p class="s_theme">Best Practices-Hazards Control, Emergency Response and Preparedness</p>
        </div>

        <div class="speaker">
          <h5 class="s_name">Kennedy Ronoh</h5>
          <p class="s_title">KenGen</p>
          <p class="s_theme">Best Practices-Hazards Control, Emergency Response and Preparedness</p>
        </div>

        <div class="speaker">
          <h5 class="s_name">Geol. Mike Karanja</h5>
          <p class="s_title">GAK</p>
          <!-- <p class="s_theme">Technology, Audits, HSE Committee Training in the Geothermal Sector</p> -->
        </div>
      </div>
      </div>
    </div> {% endcomment %}
  
    {% comment %} <div style="display: flex;align-items: center;justify-content: center; width: 100%">
      <a href="{% static 'docs/program.pdf' %}" class="secondary_btn">Download Program</a>
      <a href="{% static 'docs/concept.pdf' %}" class="secondary_btn">Download Concept Note</a>
  
    </div> {% endcomment %}
    <br>
   <!-- <h3 class="text-center">Free Transport </h3>
    <h3 class="text-center">KICC Transport </h3> -->
  </div>

<script src="{% static 'js/home.js' %}"></script>

{% endblock %}